
.loginPage{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    background-color: rgb(131, 165, 252);
    /* align-items: center; */
    border: 1px solid black;
    /* margin: auto; */
    /* margin-top: 2.5em; */
    /* border-radius: 10px; */
    /* width: 40vw; */
    /* min-width: 22em; */
    height: 100%;

}

.loginContainer{
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(107, 195, 195);
    align-items: center;
    border: 1px solid black;
    margin: auto;
    margin-top: 2.8em;
    border-radius: 10px;
    width: 40vw;
    min-width: 20em;
}





.loginContainer form{
    margin-bottom: 2.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 0, 0, 0.345);
    background-color: rgb(141, 134, 134);
    border-radius: 10px;
    flex-wrap: nowrap;
    /* width: 100%; */
    width: 24vw;
    min-width: 19em;

}


.loginContainer  form .fields{
display: flex;
width: 100%;
margin: auto;
/* margin: 8px; */
margin-top: 0.5em;
/* justify-content: space-between; */

/* align-items: end; */
}


.loginContainer  form  label{
    /* margin: 0 0.1em; */
    color: white;
    /* text-align: center; */
    /* display: inline; */
    margin: auto;
    margin-top: 0.4em;
    font-size: 16px;
    /* width: 100%; */
    /* padding: 0; */
    /* border: 1px solid green; */
    font-weight: 500;
    
}
.loginContainer  form input{
    padding: 0 1.4em;
    width: 13em;
    font-size: 15px;
    /* min-width: 12em; */
    border-radius: 5px;
    /* margin:0 0.6em; */
    margin: auto;
    margin-right: 1em;
    
}
.loginContainer  form .submitBTN  {
    margin: 1.2em 0;

    padding:0.4em 1.3em;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px ;
    border: 1px solid greenyellow;
    background-color: rgb(247, 241, 234);
}

.loginContainer  form .q1{
    color: rgb(253, 246, 32);
    font-size: 14px;
}

.loginContainer  form .regBTN  {
    margin: 1.2em 0;

    padding:0.4em 1.3em;
    font-size: 0.76em;
    font-weight: 700;
    border-radius: 10px ;
    border: 1px solid rgb(47, 137, 255);
    background-color: rgb(178, 197, 247);
}

.homePg{
    padding:0.4em 1.3em;
    font-size: 0.76em;
    font-weight: 700;
    border-radius: 6px ;
    border: 1px solid rgb(1, 1, 6);
    background-color: rgb(240, 76, 76);
    position: absolute;
    margin:0.3em ;
    top:0;
}