.mainContainer{
    width: 70vw;
    min-width: 20em;
    background-color: rgb(244, 106, 26);
    z-index: 3;
    border: 2px solid black;
    border-radius: 10px;
    position: fixed;
 
    height: 490px;   /* Fixed height for the box */
    max-height: 24.5em;
    overflow-y: auto;
    top: 3.5em;
    

}
.heading{
    position: fixed;
    width: 70vw;
    /* width: 70.5%; */
    min-width: 17.6em;
    display: flex;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    padding:0.2em 1.4em ;
    background-color: rgb(149, 162, 252);
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    /* margin-bottom: 8em; */

}

.contentDivider{
    margin-top: 3.5em;
}

.heading button{
    padding:0.1em 0.9em;
    border-radius: 10px;
    color:red;
    background-color: rgb(255, 249, 249);
}





.adminPendingLeave {
    margin-bottom: 2.2em;
}





.adminPendingLeave table {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 69.7vw;
    min-width: 100%;
    /* padding: 1em; */
    display: flex;
    align-items: start;
    justify-content: start;

    border: 2px solid black;
  
    background-color: azure;
}


.adminPendingLeave table thead tr th{
    border: 1px solid rgb(47, 11, 252);
   
    font-size: clamp(13px, 2vw, 32px);
    padding: 0.2em 0;
   
}

.adminPendingLeave table tbody  {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    flex-wrap: wrap;
    text-wrap:wrap;
}
.adminPendingLeave table tbody tr td{
    display: flex;
    /* align-items: start; */
    /* text-align: center; */
    font-size: clamp(13px, 2vw, 32px);
  
    padding: 0.2em 0.1em ;
    border: 1px solid rgb(252, 15, 11);
  
    flex-wrap: wrap;
}



.adminPendingLeave table .reasonTd{
color: rgb(0, 34, 255);
padding: 0.1em;
/* padding-bottom:2em; */
} 
.adminPendingLeave table .reasonTh{
color: red;
display: flex;
border-bottom: unset;
justify-content: center;
align-items: center;
height: 2em;
text-align: center;
border-left: unset;
border-right: unset;
/* padding: 0.8em 0.1em; */
/* padding-bottom:9em; */

} 


.adminPendingLeave table tbody select{
    /* color:  yellow; */
    text-align: center;
    padding: 0 1.4em;
    background-color: rgb(255, 251, 127);
    border:  1px solid black;
    border-radius: 10px;
    margin: auto;
}





/*  */



.sendLeaveForm{
    /* width: 100%; */
    display: flex;
    height: 100%;
    background-color: rgb(206, 255, 255);
    border-radius: 0 0 9px 9px;
    flex-direction: column;
}



 .sendLeaveForm form{
    background-color: rgb(169, 169, 235);
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    padding:1.3em 1.8em;
    width: 100%;
    /* min-width: 1em; */
    margin-bottom: 0.2em;
    /* align-items: center; */
}

.sendLeaveForm form input , textarea{
    width: 30%;
    min-width: 11em;
}
.sendLeaveForm form textarea{
    width: 70%;
    min-width: 14.5em;
}

.sendLeaveForm form .submitBtn{
    width: 5em;
    margin: auto;
    margin-top: 0.5em;
    border-radius: 7px;
    background-color: rgb(22, 14, 252);
    color: white;
}



.sendLeaveForm .prevLeaveBtnContainer{
    width: 70vw;
    /* width: 70.5%; */
    min-width: 19.8em;
    display: flex;
    /* margin: auto; */
    position: fixed;
    margin-top: 18em;
    /* left: 25%; */
    /* margin-bottom: 0.5em; */
    padding: 0.45em 0 ;
    border-radius: 7px;
    background-color: rgb(141, 92, 255);
    color: white;
}

.sendLeaveForm .prevLeaveBtn{
    /* width: 19%; */
    /* top:8em; */
    margin: auto;
    /* position: fixed; */
    /* margin-top: 18em; */
    /* left: 25%; */

    /* margin-bottom: 0.5em; */
    border-radius: 7px;
    background-color: rgb(148, 127, 196);
    color: white;
}





